<!doctype html>
<html lang="pt-br">

    <head>
    <meta charset="UTF-8">

    <title>Landing page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="styles/sidebar.css">
    <link rel="stylesheet" href="styles/example.css">

    
    </head>

    <body ng-app="MyApp" ng-cloak>
        <div ng-controller="AppCtrl as ctrl" layout="column" style="height:100%" ng-cloak>
            
            <section layout="row" flex>

                <md-sidenav class="md-sidenav-left sidebar" md-component-id="left"
                md-disable-close-events md-whiteframe="4" md-is-locked-open="$mdMedia('gt-md')">
                    <a href="landing.html"><i class="arrow-ico material-icons">
                        keyboard_arrow_left
                    </i></a>
                        
                    <md-content class="content-list" layout-margin>
                        <ul class="links-list">
                                    <li class="menu-subs">
                                        <a class="main-link" href="example_lentes.html">Pedidos</a>
                                    </li>
                                    <li><a class="main-link" href="index.html">Bonificações</a></li>
                                    <li><a class="main-link" href="index.html">Relatórios</a></li>
                                    <li><a class="main-link" href="index.html">Contato</a></li>
                                    <li><a class="main-link" href="index.html">Pagamentos</a></li>
                                    <li><a class="main-link" href="index.html">Backoffice</a></li>
                                </ul>
                    </md-content>
                
                </md-sidenav>
                
                <md-content class="background" layout-padding>
                    <img class="logo img-fluid" src="logo.png"/>
                    <md-menu-bar>

                            <md-menu class="menu-profile">
                                <md-button aria-label="Open phone interactions menu" class="profile-icon md-icon-button" ng-click="$mdOpenMenu()">
                                    <i class="profile material-icons">
                                        account_circle
                                    </i>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-menu>
                                            <md-button ng-click="$mdOpenMenu()">
                                                <span ng-if="!areaEscolhida">Escolher área comercial</span>
                                                <span ng-if="areaEscolhida">{{areasComercial}}</span>
                                            </md-button>
                                            <md-menu-content>
                                                <md-menu-item ng-repeat="area in areasComerciais">
                                                    <md-button ng-click="verificaArea(area)" >{{ area.nome }}</md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                        
                                        
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button  ng-disabled="!areaEscolhida" ng-click="dialogClientes($event)">
                                            Escolha seu cliente
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                        <md-button>
                                            Deslogar
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            </md-menu-bar>
                    <div class="splitter"></div>
                    <div class="pad container">
                        <h2>Pedidos

                            <span class="areaComercial" ng-if="areaEscolhida"> para {{ areasComercial }}</span>
                        </h2>
                        <md-card ng-if="!areaEscolhida" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                  <md-card-title-text>
                                    <span class="md-headline">Olá Admin</span>
                                    <span class="md-subhead">Por favor, clique no ícone para escolher a área comercial</span>
                                  </md-card-title-text>
                                </md-card-title>
                              </md-card>
                        <div class="row">

                            <md-input-container ng-if="areaEscolhida" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <md-select ng-change="verificaCategoria()" placeholder="Categorias" ng-model="ctrl.categorias">
                                    <md-option ng-repeat="categoria in categorias" ng-value="categoria.nome">
                                        {{categoria.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                                
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <md-select placeholder="Forma de compra" ng-model="ctrl.formasCompra">
                                    <md-option ng-repeat="forma in formas" ng-value="forma.nome">
                                        {{forma.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <md-select placeholder="Tipo de faturamento" ng-model="ctrl.formasFaturamento">
                                    <md-option ng-repeat="faturamento in tiposFaturamento" ng-value="faturamento.nome">
                                        {{faturamento.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                                
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">    
                                <md-select placeholder="Condicao" ng-model="ctrl.condicoesDePagamento">
                                    <span ng-repeat="condicaoPagamento in condicoesPagamento">
                                        <span ng-repeat="(tipo,tiposPagamento) in condicaoPagamento">
                                            {{tipo}}
                                            <md-option ng-repeat="pagamento in tiposPagamento" ng-value="pagamento.nome">
                                                {{pagamento.nome}}
                                            </md-option>
                                        </span>
                                    </span>
                                </md-select>
                            </md-input-container>
                            
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="txt-inputs col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <label>Pedido Interno</label>
                                <input ng-model="pedidoInterno">
                            </md-input-container>
                            
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="txt-inputs col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <label>Observação</label>
                                <input ng-model="user.title">
                            </md-input-container>
                             
                        </div>
                        <div ng-if="categoriaEscolhida && areaEscolhida">
                            <h2 class="sub-carrinho">Escolha seu produto</h2>
                            <div class="row">
                                <md-input-container ng-if="areaEscolhida" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2" >
                                    <md-select ng-change="verificaFamilia()" placeholder="Escolha sua família" ng-model="ctrl.familiacpr">
                                        <md-option ng-repeat="familia in familias" ng-value="familia.nome">
                                            {{familia.nome}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>                            
    
                                <md-input-container ng-if="areaEscolhida && familiaEscolhida" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <md-select placeholder="graue" ng-model="ctrl.grauecpd">
                                        <md-option ng-repeat="grau in graus" ng-value="grau.nome">
                                            {{grau.nome}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                    
                                
                                <md-input-container ng-if="categoriaEscolhida && areaEscolhida && familiaEscolhida" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <md-select placeholder="Eixo" ng-model="ctrl.eixoCpr">
                                        <md-option ng-repeat="eixo in eixos" ng-value="eixo.nome">
                                            {{eixo.nome}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                    
                                <md-input-container ng-if="categoriaEscolhida && areaEscolhida && familiaEscolhida" class="txt-inputs col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <label>Quantidade</label>
                                    <input ng-model="quantid">
                                </md-input-container>
                                
                                
                            </div>
                            <br>
                            <md-button class="bt-add-shoppcart md-raised md-primary">Adicionar ao carrinho</md-button>
                        </div>
                    </div>
                    <button ng-click="verificaClienteEscolhido($event)" class="shoppcart">
                        
                        <md-tooltip
                        md-direction="{{demo.tipDirection}}">
                        <span ng-if="!clienteEscolhido">Por favor, escolha o cliente</span>
                        <span ng-if="clienteEscolhido">Cliente: {{ cliente.Razao }}</span>
                      </md-tooltip>
                        
                        <i class="material-icons">
                        shopping_cart
                    </i></button>
                </md-content>
            </section>
            
            <div style="visibility:hidden">
                <div class="md-dialog-container" id="clients">
                    <md-dialog aria-label="Clientes" flex="85">
                        <md-dialog-content style="padding: 20px">
                            
                            <div class="container">
                                
                                <md-input-container class="lista md-block" flex-gt-xs>
                                    <div layout-gt-xs="row" >
                                        <label>Cliente</label>
                                        <input type="text" ng-model="pesquisa.Razao">
                                    </div>
                                </md-input-container>
                                <h4>Escolha seu cliente</h4>
                                <md-table-container>

                                    <table md-table>
                                        <thead md-head>
                                            <th md-column>ID</th>
                                            <th md-column>Razao</th>
                                            <th md-column>CNPJ/CPF</th>
                                            <th md-column>Cidade/UF</th>
                                            <th md-column>Tabela</th>
                                            <th md-column></th>
                                        </thead>
                                        <tbody md-body>
                                            <tr ng-repeat="cliente in clientes | filter:pesquisa">
                                                <td md-cell>{{cliente.codigo}}</td>
                                                <td md-cell>{{cliente.Razao}}</td>
                                                <td md-cell>{{cliente['CNPJ/CPF']}}</td>
                                                <td md-cell>{{cliente['Cidade/UF']}}</td>
                                                <td md-cell>{{cliente.tabela}}</td>
                                                <td md-cell><md-button ng-click="escolheCliente(cliente)">Selecionar</md-button> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </md-table-container>
                            </div>
                        </md-dialog-content>
                    </md-dialog>
                    <div style="visibility:hidden">
                        <div class="md-dialog-container" id="cart">
                            <md-dialog aria-label="Carrinho" flex="95">
                                <md-dialog-content style="padding: 20px">
                                    
                                        
                                     
                                        <h4>Carrinho de compras para o cliente: {{ cliente.Razao }}</h4>
                                        <p> Existem {{(produtosCarrinho|filter:pesquisa).length}} itens</p>
                                        <md-table-container>

                                            <table md-table>
                                                <thead md-head>
                                                <tr>
                                                    <th md-column>Familia</th>
                                                    <th md-column>Grau Esférico</th>
                                                    <th md-column>Grau Cilíndrico</th>
                                                    <th md-column>Eixo</th>
                                                    <th md-column>Adição</th>
                                                    <th md-column>Curva</th>
                                                    <th md-column>Cor</th>
                                                    <th md-column>Diâmetro</th>
                                                    <th md-column>Olho</th>
                                                    <th md-column>Quantidade</th>
                                                    <th md-column>Valor unitário</th>
                                                    <th md-column>Desconto (%)</th>
                                                    <th md-column>Valor final</th>
                                                    <th md-column>Total</th>
                                                    <th md-column></th>
                                                </tr>
                                                </thead>
                                                <tbody md-body>
                                                <tr ng-repeat="produto in produtosCarrinho | filter:pesquisa">
                                                    <td md-cell>{{produto.familia}}</td>
                                                    <td md-cell>{{produto.graue}}</td>
                                                    <td md-cell>{{produto.grauc}}</td>
                                                    <td md-cell>{{produto.eixo}}</td>
                                                    <td md-cell>{{produto.adicao}}</td>
                                                    <td md-cell>{{produto.curva}}</td>
                                                    <td md-cell>{{produto.cor}}</td>
                                                    <td md-cell>{{produto.diametro}} %</td>
                                                    <td md-cell>{{produto.olho}}</td>
                                                    <td md-cell>{{produto.qtd}}</td>
                                                    <td md-cell>{{produto.unitario}}</td>
                                                    <td md-cell>{{produto.desconto}}</td>
                                                    <td md-cell>{{produto.final}}</td>
                                                    <td md-cell>{{produto.total}}</td>
                                                    <td md-cell><md-button ng-click="remove()">
                                                            <i class="remove-cart material-icons">
                                                                    remove_shopping_cart

                                                                </i>
                                                    </md-button></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </md-table-container>
                                          <md-button class="btn btn-primary bt-select" ng-click="remove()">Agrupar</md-button>
                                          <md-button class="btn btn-primary bt-select" ng-click="remove()">Finalizar</md-button>
                                    </div>
                                </md-dialog-content>
                            </md-dialog>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>


        
        <script src="scripts/app.js"></script>
        <script src="scripts/sidebar.js"></script>
    
    </body>

</html>
