<!doctype html>
<html lang="pt-br">

    <head>
    <meta charset="UTF-8">

    <title>Landing page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/sidebar.css">
    <link rel="stylesheet" href="styles/example.css">

    
    </head>

    <body ng-app="MyApp" ng-cloak>
        <div ng-controller="AppCtrl as ctrl" layout="column" style="height:100%" ng-cloak>
            
            <section layout="row" flex>

                <md-sidenav class="md-sidenav-left sidebar" md-component-id="left"
                md-disable-close-events md-whiteframe="4" md-is-locked-open="$mdMedia('gt-md')">
                    <a href="landing.html"><i class="arrow-ico material-icons">
                        keyboard_arrow_left
                    </i></a>
                   
                        <p class="label-profile">Admin</p>

                        
                    <md-content class="content-list" layout-margin>
                        <ul class="links-list">
                                    <li class="menu-subs">
                                        <a class="main-link" href="example_lentes.html">Pedidos</a>
                                    </li>
                                    <li><a class="main-link" href="index.html">Bonificações</a></li>
                                    <li><a class="main-link" href="index.html">Relatórios</a></li>
                                    <li><a class="main-link" href="index.html">Contato</a></li>
                                    <li><a class="main-link" href="index.html">Pagamentos</a></li>
                                    <li><a class="main-link" href="index.html">Backoffice</a></li>
                                </ul>
                    </md-content>
                
                </md-sidenav>
                
                <md-content class="background" layout-padding>
                    <img class="logo img-fluid" src="logo.png"/>
                    <md-menu-bar>

                            <md-menu class="menu-profile">
                                <md-button aria-label="Open phone interactions menu" class="profile-icon md-icon-button" ng-click="$mdOpenMenu()">
                                    <i class="profile material-icons">
                                        account_circle
                                    </i>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-menu>
                                            <md-button ng-click="$mdOpenMenu()">
                                                <span ng-if="!areaEscolhida">Escolher área comercial</span>
                                                <span ng-if="areaEscolhida">{{areasComercial}}</span>
                                            </md-button>
                                            <md-menu-content>
                                                <md-menu-item ng-repeat="area in areasComerciais">
                                                    <md-button ng-click="verificaArea(area)">{{ area.nome }}</md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                        
                                        
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button data-toggle="modal" data-target="#cliModal">
                                            Escolha seu cliente
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                        <md-button>
                                            Deslogar
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            </md-menu-bar>
                    <div class="splitter"></div>
                    <div class="pad container">
                        <h2>Pedidos

                            <span class="areaComercial" ng-if="areaEscolhida"> para {{ areasComercial }}</span>
                        </h2>
                        <md-card ng-if="!areaEscolhida" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                  <md-card-title-text>
                                    <span class="md-headline">Olá Admin</span>
                                    <span class="md-subhead">Por favor, clique no ícone ao lado do seu nome para escolher a área comercial</span>
                                  </md-card-title-text>
                                </md-card-title>
                              </md-card>
                        <div class="row">

                            <md-input-container ng-if="areaEscolhida" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <md-select ng-change="verificaCategoria()" placeholder="Categorias" ng-model="ctrl.categorias">
                                    <md-option ng-repeat="categoria in categorias" ng-value="categoria.nome">
                                        {{categoria.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                                
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <md-select placeholder="Forma de compra" ng-model="ctrl.formasCompra">
                                    <md-option ng-repeat="forma in formas" ng-value="forma.nome">
                                        {{forma.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <md-select placeholder="Tipo de faturamento" ng-model="ctrl.formasFaturamento">
                                    <md-option ng-repeat="faturamento in tiposFaturamento" ng-value="faturamento.nome">
                                        {{faturamento.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                                
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">    
                                <md-select placeholder="Condicao" ng-model="ctrl.condicoesDePagamento">
                                    <span ng-repeat="condicaoPagamento in condicoesPagamento">
                                        <span ng-repeat="(tipo,tiposPagamento) in condicaoPagamento">
                                            {{tipo}}
                                            <md-option ng-repeat="pagamento in tiposPagamento" ng-value="pagamento.nome">
                                                {{pagamento.nome}}
                                            </md-option>
                                        </span>
                                    </span>
                                </md-select>
                            </md-input-container>
                            
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="txt-inputs col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <label>Pedido Interno</label>
                                <input ng-model="pedidoInterno">
                            </md-input-container>
                            
                            <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="txt-inputs col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <label>Observação</label>
                                <input ng-model="user.title">
                            </md-input-container>
                             
                        </div>
                        <div ng-if="categoriaEscolhida && areaEscolhida">
                            <h2 class="sub-carrinho">Escolha seu produto</h2>
                            <div class="row">
                                <md-input-container class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2" >
                                    <md-select ng-change="verificaArea()" placeholder="Escolha sua família" ng-model="ctrl.familiacpr">
                                        <md-option ng-repeat="familia in familias" ng-value="familia.nome">
                                            {{familia.nome}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>                            
    
                                <md-input-container ng-if="areaEscolhida" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <md-select ng-change="verificaCategoria()" placeholder="graue" ng-model="ctrl.grauecpd">
                                        <md-option ng-repeat="grau in graus" ng-value="grau.nome">
                                            {{grau.nome}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                    
                                
                                <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <md-select placeholder="Eixo" ng-model="ctrl.eixoCpr">
                                        <md-option ng-repeat="eixo in eixos" ng-value="eixo.nome">
                                            {{eixo.nome}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                    
                                <md-input-container ng-if="categoriaEscolhida && areaEscolhida" class="txt-inputs col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <label>Quantidade</label>
                                    <input ng-model="quantid">
                                </md-input-container>
                                
                                
                            </div>
                            <br>
                            <button class="bt-add-shoppcart btn btn-primary">Adicionar ao carrinho</button>
                        </div>
                    </div>
                    <button data-toggle="modal" data-target="#exampleModal" class="shoppcart"><i class="material-icons">
                        shopping_cart
                    </i></button>
                </md-content>
            </section>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="cliModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                         
                            </div>
                            <div class="modal-body">
                                <md-input-container class="lista md-block" flex-gt-xs>
                                    <div layout-gt-xs="row" >
                                                <label>Pesquisar</label>
                                        <input type="text">
                                    </div>
                                    <div layout-gt-xs="row" >
                                        <md-button class="md-raised md-primary">
                                            Pesquisar
                                        </md-button>
                                    </div>
                                </md-input-container>
                                
                                <md-list flex>
                                    <h4>Escolha seu cliente</h4>
                                    <md-list-item class="md-3-line" ng-repeat="cliente in clientes" ng-click="null">
                                        <p>{{ cliente.id }}</p>
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{ cliente.nome }}</h3>
                                            <h4>{{ cliente.codigo }}</h4>
                                        </div>
                                        <md-button class="md-raised md-primary">Selecionar</md-button>

                                    </md-list-item>
                                </md-list>
                            </div>
                            <div class="modal-footer">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        
        <script src="scripts/app.js"></script>
        <script src="scripts/sidebar.js"></script>
    
    </body>

</html>
