<!doctype html>
<html lang="pt-br">

    <head>
    <meta charset="UTF-8">

    <title>Landing page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" href="styles/sidebar.css">
    <link rel="stylesheet" href="styles/example.css">
    </head>

    <body ng-app="MyApp" ng-cloak>
        <div ng-controller="AppCtrl as ctrl" layout="column" style="height:100%" ng-cloak>
            
            <section layout="row" flex>

                <md-sidenav class="md-sidenav-left sidebar" md-component-id="left"
                md-disable-close-events md-whiteframe="4" md-is-locked-open="$mdMedia('gt-md')">
                            
                    <md-content class="content-list" layout-margin>
                        <ul class="lista_categoria">
                            <li><a class="main-link" href="example_lentes.html">Compras</a></li>
                            <li><a class="main-link" href="">Trocas</a></li>
                            <li><a class="main-link" href="">Bonificacao</a></li>                            
                        </ul>
                    </md-content>
                
                </md-sidenav>
                
                <md-content class="background" layout-padding>
                    <img class="logo" src="logo.png"/>
                    <div class="splitter"></div>
                    <h2>Compra de lentes</h2>
                    <div class="title" layout="row" layout-align="space-between center">
                        <span>Forma de compra</span>
                        <md-select placeholder="{{formas[0].nome}}" ng-model="ctrl.formasCompra">
                            <md-option ng-repeat="forma in formas" ng-value="forma.nome">
                            {{forma.nome}}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="title" layout="row" layout-align="space-between center">
                        <span>Forma de Faturamento</span>
                        <md-select placeholder="{{tiposFaturamento[0].nome}}" ng-model="ctrl.formasFaturamento">
                            <md-option ng-repeat="faturamento in tiposFaturamento" ng-value="faturamento.nome">
                            {{faturamento.nome}}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="title" layout="row" layout-align="space-between center">
                        <span>Condicoes de pagamento</span>
                        <md-select placeholder="Escolha uma condicao" ng-model="ctrl.condicoesDePagamento">
                        <span ng-repeat="condicaoPagamento in condicoesPagamento">
                                <span ng-repeat="(tipo,tiposPagamento) in condicaoPagamento">
                                    {{tipo}}
                                    <md-option ng-repeat="pagamento in tiposPagamento" ng-value="pagamento.nome">
                                        {{pagamento.nome}}
                                    </md-option>
                                </span>
                            </md-select>
                        </span>
                    </div>
                    <div class="title" layout="row" layout-align="space-between center">
                        <span>Pedido Interno do Cliente</span>
                        <md-input-container>
                            <label>Pedido Interno</label>
                            <input ng-model="pedidoInterno">
                        </md-input-container>
                        
                    </div>
                    <div class="title" layout="row" layout-align="space-between center">
                        <span>Observação NF</span>
                        <md-input-container>
                            <label>Observação</label>
                            <input ng-model="user.title">
                        </md-input-container>
                    </div>
            
                </md-content>
            </section>
        </div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        
        <script src="scripts/app.js"></script>
        <script src="scripts/sidebar.js"></script>
    
    </body>

</html>
