table {
    padding: 20px;
}

md-menu-bar {
    position: relative;
    left: 90%;
    bottom: 6.5%;
}

.splitter {
    width: 100%;
    height: 1%;
    background-color: #26A9BA;
    padding: 0px;
    position: relative;
    bottom: 8%;
}

.background {
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
}

 h2 {
    color: #26A9BA;
    margin-left: 33%;
    
}


.logo {
    position: relative;
    left: 28%;
}

md-input-container {
    width: 300px;
}

.bt-select {
    background-color: #26A9BA !important;
    color: #f1f1f1 !important;
}

md-card {
    box-shadow: 2px 3px 0 rgba(38, 169, 186, 0.3) !important;
    background-color: #26A9BA !important;
    font-weight: bold !important;
    
    
}

md-card span  {
    color: #f1f1f1 !important;
}

.areaComercial {
    color: #26A9BA;
}

.title {
    height: 70px;
    width: 70%;
    margin-left: 15%;
}

.txt-inputs label {
    margin-left: 15px;
}

.md-input-focused label, .md-input-focused span, select span  {
    color: #26A9BA !important;
}

.md-input-focused input, .md-input-focused md-select-value{
    border-color: #26A9BA !important;
    border-bottom-color: #26A9BA !important;
}

.pad {

    padding: 40px;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

.shoppcart {
    border: none !important;
    position: fixed;
    bottom: 20px;
    left: 90%;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    background-color: #26A9BA;
    padding: 14px;
}

.shoppcart i {
    font-size: 35px;
    color: #f1f1f1;
}

.bt-add-shoppcart {
    border: none;
    background-color: #26A9BA;
}

.bt-add-shoppcart:hover {
    border: none;

    background-color: #26A9BA;
}

@media only screen and (max-width: 760px) {    
    .logo {
        left: 15%;
    }
}

@media only screen and (max-width: 600px) {    
    .logo {
        left: 5%;
    }
}

@media only screen and (max-width: 530px) {    
    .logo {
        left: 0%;
    }

    h2 {
        font-size: 20px;
    }
}
