
md-menu-bar {
    position: relative;
    left: 90%;
}

.nome-vendedor {
    position: relative;
    text-align: right;
    right: 8%;
}

.profile-icon {
    margin-top: -15px;
}

.dados-financeiros {
    margin-left: 30px;
}

.link-remover {
    color: #b81e1e;
}

.splitter {
    width: 100%;
    height: 1%;
    padding: 0px;
    position: relative;
}

.menu-icon {
    height: 60px;
}

.divisor {
    width: 100%;
    height: 3px;
    padding: 0px;
    position: relative;
}

.background {
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
}

 h2 {
    color: #009688;
    margin-left: 33%;
    
}

.remover {
    cursor: pointer;
    color: #b81e1e;
}

.logo {
    position: relative;
    left: 28%;
}

md-input-container {
    width: 300px;
}

.pedidosPorGrupo {
    color: #009688;
}

.link-remover {
    cursor: pointer;

}



md-card {
background-color: #F2F2F2; 
}
md-card .values {
    text-align: right;

}

md-card .keys {
    text-align: left;
}

.bt-select {
    color: #f1f1f1 !important;
    font-weight: bold !important;
}

md-card p  {
    margin: 0px;
    font-size: 16px !important;
}

md-card h3 {
    font-weight: bold !important;
}

.areaComercial {
    color: #009688;
}

.title {
    height: 70px;
    width: 70%;
    margin-left: 15%;
}

.txt-inputs label {
    margin-left: 15px;
}

.md-input-focused label, .md-input-focused span, select span  {
    color: #009688 !important;
}

.md-input-focused input, .md-input-focused md-select-value{
    border-color: #009688 !important;
    border-bottom-color: #009688 !important;
}

.pad {

    padding: 40px;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

.profile {
    margin-top: -15px;
}

.aviso-area-comercial {
    width: 30px;
    word-wrap: break-word;
}

md-menu-bar {
    width: 0px;
}

.shoppcart {
    position: fixed;
    bottom: 20px;
    left: 90%;
    border-radius: 60%;
    height: 60px;
    width: 60px;
    padding: 14px;
    min-width: 70px !important;
}

.headerAccordion {
    width: 100%;
    color: #f1f1f1;
        
}



.shoppcart i {
    font-size: 40px;
    color: #f1f1f1;
}

.bt-add-shoppcart {
    border: none;
}

.bt-add-shoppcart:hover {
    border: none;

}

.remove-cart  {
    color: rgba(241, 35, 35, 0.767)
}

@media only screen and (max-width: 760px) {    
    .logo {
        left: 15%;
    }
}

@media only screen and (max-width: 600px) {    
    .logo {
        left: 5%;
    }
}

@media only screen and (max-width: 530px) {    
    .logo {
        left: 0%;
    }

    h2 {
        font-size: 20px;
    }
}

.color {
    color: #009688;
    position: relative;
    top: 20px;
}

.items td {
    padding: 15px !important;
}
