h4 {
    color: #f1f1f1;
    font-weight: bolder;
}

label {
    color: #f1f1f1;
    font-weight: bold;
    
}
body {
    background-color: #efefef;
}

.logo {
    position: relative;
    top: 30px;
    margin-bottom: 20px;
    width: 300px;
    left: 9%;
}

.login {
width: 80%;
border-radius: 5%;
padding:20px;
background-color:#26A9BA;
position:relative;
box-sizing: content-box;
top:20px;
left: 5%;

}

.login h4 {
    display: block;
    margin: 0px;
    position: relative;
    bottom: 10px;
    height: 40px;
    margin-left: 40%;
}
.login .recuperar {

    margin-left: 15%;
}

a {
    float: right;
    color: #f4f4f4;
}

a:hover {
    text-decoration: none;
    color: #f4f4f4
}

.botao {
    background-color: #efefef;
    border-color: #f4f4f4;    
    color: #26A9BA;
    position: relative;
    font-weight: bold;
    
}

.botao:hover {
    background-color: #efefef;
    color: #010101;
    border-color: #f4f4f4;    

}

.copyright {
    color: #26A9BA;
    position: relative;
    top: 50px;
    width: 70%;
    height: 10px;
    margin-right: 100px;
    box-sizing: content-box;
    left: 15%;

}

@media only screen and (min-width: 500px) {
    .logo {
        left: 25%;
    }
    .login {
        width: 50%;
        left: 20%;
    }

    .copyright {
        left: 23%;
    }
}

@media only screen and (min-width: 750px) {
    .login {
        width: 35%;
        left: 25%;
    }

}

@media only screen and (min-width: 750px) {
    .logo {
        left: 30%;
    }
    .copyright {
        left: 28%;
    }

}

@media only screen and (min-width: 1000px) {
    .logo {
        width: 500px;
        left: 31%;
    }
    .login {
        width: 25%;
        left: 35%;
    }
    .copyright {
        left: 37%;
    }

}

