
section {
    width: 100%;
}

.logo {
    position: relative;
    right: 100px;
    width: 450px;
    height: 58px;
    margin-bottom: 35px;
}

.background {
    width: 80%;
    background-color: #efefef;
    position: relative;
    right: 5%;
}

.background div {
    position: relative;
    left: 5%;
}

.sidebar {
    width: 20%;
}


.sidenav-button {
    padding-left: 5px;
    padding-right: 5px;
    width: 120px;
}

.logoff {
    color: #26A9BA;
    text-decoration: none;
    position: relative;
}

.logoff:hover {
    color: #26A9BA;
    text-decoration: none;
}

/* Navbar */

.close {
    min-width: 50px;
    position: relative;
}

.close md-icon {
    color: #26A9BA;         

}



.main-link {
    text-decoration: none;
    color: #26A9BA;
}

.main-link:hover {
    text-decoration: none;
    color: #26A9BA;
}

.content-list {
    position: relative;
    top: 100px;
}

.links-list li {
    margin-bottom: 15px;
}

.links-list li a {
    font-size: 20px;
}

.links-list li a:hover {
    font-weight: bold;
}

ul li .sub-link {
    text-decoration: none;
    font-size: 14px;
    color: #26A9BA;
}

.sub-link:hover {
    text-decoration: none;

    font-weight: bold;
    color: #26A9BA;
}