img {
    position: relative;
    left: 27%;
}

.img {
    position: relative;
    left: 7%;
}


.logo {
    position: relative;
    left: 25%;
} 

@media only screen and (max-width: 760px) {    
    .logo, .img {
        left: 15%;
    }
}

@media only screen and (max-width: 600px) {    
    .logo, .img {
        left: 5%;
    }
}

@media only screen and (max-width: 530px) {    
    .logo, .img {
        left: 1%;
    }

    h2 {
        font-size: 20px;
    }
}
