
section {
    width: 100%;
}

.logo {
    position: relative;
    right: 100px;
    width: 450px;
    height: 58px;
    margin-bottom: 35px;
}

.background {
    width: 80%;
    background-color: #efefef;
    position: relative;
    right: 5%;
}

.background div {
    position: relative;
    left: 5%;
}

.sidebar {
    width: 20%;
}


.sidenav-button {
    padding-left: 5px;
    padding-right: 5px;
    width: 120px;
}
