md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
    background-color: rgba(0, 0, 0, 0) !important;
}

.arrow-ico {
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5%;
    color: #f1f1f1;
}

.deslogar {
    font-size: 13px;
    color: #f1f1f1;
    text-decoration: none;
    position: relative;
    left: 15%;
    width: 50px;
    bottom: 2%;
}

.deslogar:hover {
    font-weight: bold;
}

.linha {
    background-color: #f1f1f1;
    width: 100%;
    height: 5px;
    margin-top: 30px;
}

.md-primary {
    background-color: #26A9BA !important;
}

.profile-icon {

    position: relative;
    height: 60px !important;
    width: 75px !important;
    
    bottom: 45px;
}
.profile-icon i {
    color: #26A9BA;
    font-size: 40px;
}

.label-profile {
    color: #f1f1f1;
    position: relative;
    bottom: 60px;
    left: 16%;
    display: inline-block;
}

.close {
    min-width: 50px;
    position: relative;
}

.close md-icon {
    color: #26A9BA;         

}

.main-link {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
}

.main-link:hover {
    text-decoration: none;
    color: #f1f1f1;
    
}

.lista {
    width: 100% !important;
}

.content-list {
    font-weight: bold;
    position: relative;
    height: 50%;
}

.lista_categoria li, .links-list li {
    margin-bottom: 15px;
}

.lista_categoria li a, .links-list li a {

    font-size: 20px;
}

.sub-menu {
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s, height 0.5s linear;

}
.menu-subs:hover > ul.sub-menu {
    visibility: visible;
    opacity: 1;
    height: 80px;
}

h2 {
    font-weight: bold !important;
}

ul li .sub-link {
    text-decoration: none;
    font-size: 14px;
    color: #f1f1f1;
}

.sub-link:hover {
    text-decoration: none;  

    font-weight: bold;
    color: #f1f1f1;
}

.sidebar {
    width: 20%;
}

.sidebar md-content {
    position: relative;
    right: 20px;
}

.sidebar, .sidebar md-content {
    background-color: #26A9BA;
}

